[run]
branch = True
source = timeline_logger
omit =
    demo/*
    */migrations/*
    */tests/*

[report]
omit =
    demo/*
    */migrations/*
    */tests/*

exclude_lines =
	pragma: no cover
    noqa

[html]
directory = cover
